@import url(./recipe-card-style.css);
@import url(./about-us.css);


:root {
	--main-color: rgb(75, 209, 75);
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Merriweather';

}

input {
	padding-left: 15px;
}

a, .navbar a {
	text-decoration: none;
	color: black;
}

a:active {
	color: black;
}

hr {
	background-color: #e8e8e8;
	margin-top: 19px;
	margin-bottom: 21px;
	border-bottom: none;
}

.navbar-brand {
	color: black;
	font-size: 26px;
	font-weight: 700;
	line-height: 33px;
}

.sign-btn {
	height: 42px;
	width: 111px;
	border-radius: 6px;	
	border: none;
	background-color: var(--main-color);

	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
	color: white;
}

.navbar {
	justify-content: flex-end;
}

.recipe-form {
	height: auto;
	background-color:rgb(198, 255, 184);
	padding: 10px 25px;
	width: 680px;
	border-radius: 15px;	
}

.checklist-form {
	display: none;
	height: auto;
	background-color:rgb(198, 255, 184);
	padding: 10px 25px;
	width: 680px;
	border-radius: 15px;
}

.main {
	display: flex;
	flex-direction: row-reverse;
	align-content: center;
	flex-wrap: wrap;
	align-items: flex-start
 }


.main-title {
	text-align: center;
}

.create-printlist-btn {
	margin-top: 15px;
}

.ingridient-input-name, .ingridient-input-quantity, .recipe-input-title, .recipe-input-subtitle {
	height: 25px;
	font-family: 'Merriweather';
	border-radius: 5px;
	border: 1px solid var(--main-color);
}

.input-hide {
	display: none;
}

.form-button {
	font-family: 'Merriweather';
	height: 30px;
	width: auto;
	border-radius: 5px;
	border: 1px solid var(--main-color);
	background-color: white;
	cursor: pointer;
	transition: .3s all ease-in-out;
}

.form-button:hover {
	background-color: var(--main-color);
	color: white;
}

.ingridient {
	font-weight: 200;
	font-size: 16px;
	padding: 3px 0;
}

.ingridients-list {
	list-style-type: circle;
}

.create-checklist-btn {
	margin-top: 15px;;
}

